.widget
  .widget-title
    i(class='fa fa-qrcode')= ' ' + __('qrcode')
    .v2ex
      a(href='http://www.v2ex.com/?r=hbliu' target='_blank') #{'V2EX注册邀请链接'}
    .alipay
      img(src=theme.qrcode, width=230)
